.earphones-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin-bottom: 120px;
}

.earphones-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30vh;
  background-color: #000;
  color: #fff;
}

.earphones-header h2 {
  font-size: 2rem;
  letter-spacing: 6px;
}

.yx1-wireless-div {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 80vh;
  gap: 20px;
}

.yx1-wireless-div img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.yx1-wireless-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 50px;
  width: 50%;
}

.yx1-wireless-content h1 {
  color: #d87d4a;
  font-size: 14px;
  margin-bottom: 12px;
  letter-spacing: 8px;
}

.yx1-wireless-content h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.yx1-wireless-content p {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 25px;
}

.category-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  width: 80vw;
  margin: 100px 0;
}

.category-card {
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 30px 20px;
  width: 100%;
  transition: transform 0.3s ease;
}

.category-card:hover {
  transform: translateY(-5px);
}

.category-card img {
  width: 120px; /* Bigger and centered */
  height: auto;
  border-radius: 10px;
}

.category-card h3 {
  margin-top: 20px;
  color: #101010;
  font-size: 1rem;
  letter-spacing: 2px;
}

/* === ZX9 SPEAKER === */
.zx9-speaker {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #d87d4a;
  width: 80vw;
  height: 80vh;
  border-radius: 12px;
  overflow: hidden;
  padding: 40px;
  color: white;
}

.zx9-speaker img {
  width: 320px;
  height: auto;
  object-fit: contain;
}

.zx9-speaker-content {
  max-width: 400px;
}

.zx9-speaker-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.zx9-speaker-content p {
  margin-bottom: 25px;
  color: #f3f3f3;
  line-height: 1.5;
}

.zx9-speaker-content button {
  background-color: #000;
  color: #fff;
  padding: 12px 28px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.zx9-speaker-content button:hover {
  background-color: #2c2c2c;
}