.headphones-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin-bottom: 120px;
}

.headphones-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30vh;
  background-color: #000;
  color: #fff;
}

.headphones-header h2 {
  font-size: 2rem;
  letter-spacing: 6px;
}

.Mark2-headphones,
.Mark1-headphones,
.XX59-headphones {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 80vh;
  gap: 20px;
}

.Mark2-headphones img,
.Mark1-headphones img,
.XX59-headphones img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.Mark2-headphones-content,
.Mark1-headphones-content,
.xx59-headphones-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 12px;
  padding: 50px;
  width: 50%;
}

.Mark2-headphones-content h1 {
  color: #d87d4a;
  letter-spacing: 8px;
  font-size: 14px;
  margin-bottom: 12px;
}

.Mark2-headphones-content h2,
.Mark1-headphones-content h2,
.xx59-headphones-content h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.Mark2-headphones-content p,
.Mark1-headphones-content p,
.xx59-headphones-content p {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 25px;
}

.category-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  
  width: 80vw;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.category-card img {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
  background: #f1f1f1;
  padding: 20px;
  margin-bottom: 10px;
}

.category-card h3 {
  font-size: 1rem;
  letter-spacing: 2px;
}
