@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  text-align: center;
  background-color: #ffffff;
  margin: 0;
}

main {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
